<h1 class="ls-title-intro ls-ico-calendar-more"><%= t('.schedule_massage') %></h1>
<%= flash_message %>

<h2 class="ls-text-md ls-no-bold ls-sm-space ls-no-padding-left ls-no-padding-top">
  <%= t('.timetable_availability_for') %>
</h2>

<hr>

<%= form_for(@massage, url: panel_appointments_path, html: { method: 'create' }) do |f| %>
  <table class="ls-table ls-table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Dia</th>
        <th>Período</th>
        <th><%= t('.massage_date_and_hour') %></th>
        <th><%= t('.available_appointments') %></th>
      </tr>
    </thead>
    <tbody>
      <% @available_timetables.each do |massage_date| %>
        <% massage_date[:periods].each do |massage_period| %>
          <% massage_period[:schedule].each do |massage_slot| %>
            <tr>
              <td><%= massage_date[:date] %></td>
              <td><%= massage_period[:period] %></td>
              <td><%= "#{l(massage_slot[:time], format: :short)}" %></td>
              <td><%= massage_slot[:remaining_massages] %></td>
              <td><%= radio_button_tag(:timetable, massage_slot[:time]) %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="ls-actions-btn">
    <%= f.submit t('.schedule_massage'), class: "ls-btn" %>
  </div>
<% end %>
